.add-button{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(220, 60, 20);
  color: white;
  font-weight: bold;
}
.expense-title{
  color: rgb(139, 32, 0);
}
.expense-catcher{
  width: 120px;
  height: 20px;
}
.expense-tracking-container{
  border: 1px solid #e0e0e0;
  background-color: #f6f4f4;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}